.form-event {
  background-color: #212121;
  padding: 34px 28px;
  border-radius: 16px;
  max-width: 90%;
  color: #FFFFFF;
  width: 328px;
  height: 338px;
  margin: 64px auto;
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 16px;
}