body {
  margin: 0;
}

header {
  background-color: #06151A;
  display: flex;
  justify-content: center;
  padding: 32px;
}

section {
  background: linear-gradient(180deg, #17E4B9 0%, #091D24 100%);
  display: flex;
  justify-content: center;
}

section img {
   max-width: 90%;
}