::backdrop {
    background-color: #504D4D;
    opacity: 0.85;
}

dialog {
    background: #1E1E1E;
    border: none;
    border-radius: 16px;
    padding: 16px;
}

.close-btn-wrapper {
    text-align:right;
}

.close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}